body {
	background-color:rgba(180, 235, 235, 0.4);
}

.surround {
	margin-top:10px;
	font-family:"Helvetica", san-serif;
}

/* Puzzle board styles */
.puz-board {
	border-spacing:5px;
	border-collapse:separate;
	margin:15px auto;
	text-align:center;

	// Puzzle board row
	.puz-board-row {
		td {
			border:7px solid #000;
			background-color:#37dba9;
			width:60px;
			min-width:60px;
			height:74px;
			min-height:74px;
			margin:0 auto;
			font-weight:bold;
			font-size:3em;
			&.corner {
				visibility:hidden;
			}
			&.active {
				background-color:#FFF;
			}
		}
	}
}


.input-test {
	margin:20px auto;
	input[type="text"] {
		width:30px;
	}
}